configuration {
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    combi-modi: "drun,run,window";
    modi: "combi";
    combi-hide-mode-prefix: true;
}

@theme "/home/bryan/.config/rofi/themes.rasi"
@theme "/home/bryan/.config/rofi/window/style.rasi"
